body {
  background-color: rgb(232, 235, 234);
  color: black;
  box-sizing:border-box;
  font-family: "Oxygen", sans-serif;
}

#header-nav {
  border-radius: 0;
  border: 0;
}

a.navbar-brand {
  font-weight: 600;
  text-shadow: 1px 1px 1px rgb(190, 201, 175);
}

.navbar-header button.navbar-toggle {
  border: 2px solid rgb(190, 201, 175);
}

#nav-list li a {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(190, 201, 175, 0.339);
}

#nav-list li a:hover {
  transition: 0.4s;
  color: white;
  background-color: rgb(190, 201, 175);
}

div.content{
  background-color: rgba(175, 201, 201, 0.26);
  margin: 10px;
  padding: 10px 20px 20px ;
  border-radius: 20px;
}

div.content:hover p {
  transition: 0.5s;
  background-color: rgb(152, 181, 181);
}
div.content:hover {
  cursor: pointer;
}

div.content p{
  background-color: rgb(175, 201, 201);
  font-weight:600;
  font-size: 1.2em;
  margin-top: 0px;
  padding: 2px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

#main-content h1 {
  background-color: rgb(190, 201, 175);
  color: white;
  padding: 10px;
  margin: 0px 0px 20px;
  border-radius: 20px;
  font-weight: 700;
}

div.content a{
  
  font-weight: 600;
}